{
  "presets": ["env", "react"],
  "plugins": [
    "rewire",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "ignore": ["dist"]
}