{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "rewire"
      ]
    }
  },
  "ignore": ["dist"]
}