# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
**/node_modules

# IDEs / Editors
.idea
.vscode
.c9

# Temporary build artefacts
dist
temp
package
.DS_Store

# Local bash scripts
g
rs
cover
deploy