# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# IDEs / Editors
.idea
.vscode
.c9

# Temporary build artefacts
build
temp
package
.DS_Store

# Local scripts
runspec