# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
**/node_modules

# IDEs / Editors
.idea
.vscode
.c9

# Temporary build artefacts
dist
**/dist
temp
publish
.DS_Store
TEMP_TO_MOVE

# Local bash scripts
install
g
rs
cover
deploy
pub
add
ap
run