{
  "reporter": [
    "text-summary"
  ],
  "include": [
    "packages/**/*.js",
    "packages/**/*.jsx",
    "src/**/*.js",
    "src/**/*.jsx"
  ],
  "exclude": [
    "src/client/app.jsx",
    "src/client/index.js",
    "src/server/bin/bootstrap.js",
    "**/test/**",
    "packages/testing/**/*.js"
  ],
  "require": [
    "babel-register"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}