{
  "reporter": [
    "text-summary"
  ],
  "include": [
    "src/**/*.js",
    "src/**/*.jsx"
  ],
  "exclude": [
    "**/startup.js",
    "src/client/app.jsx",
    "src/client/index.js",
    "src/server/views/**"
  ],
  "require": [
    "babel-register"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}