{
  "reporter": [
    "text-summary"
  ],
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "**/startup.js"
  ],
  "require": [
    "babel-register"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}