@import 'material-colors/dist/colors.scss';

$fonts-path: '../fonts';

$roboto-font-path: $fonts-path;
$material-design-icons-font-path: $fonts-path + '/';
$fa-font-path: $fonts-path;
$fa-font-size-base: 24px;

// TODO: Need to make these app configurable
$mdc-theme-primary: $md-blue-700;
$mdc-theme-accent: $md-blue-500;
$mdc-theme-background: $md-white;