$fonts-path: '../fonts';

$roboto-font-path: $fonts-path;
$material-design-icons-font-path: $fonts-path + '/';
$fa-font-path: $fonts-path;
$fa-font-size-base: 24px;

// TODO: Get from material-colors !!
$mdc-theme-primary: #2196F3 !default;
$mdc-theme-secondary: #ffc400 !default;
$mdc-theme-background: #fff !default;