<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="styles/server-vendor.css" rel="stylesheet">
  </head>
  <body>
    <!-- TODO: Move styles to SCSS / class -->
    <style>

      body {
        margin: 0;
      }

      .basis-error-container {
        margin: 7% 25% 0;
      }

      .basis-error-container small {
        color: #777;
      }

    </style>
    <%- markup -%>
  </body>
</html>